li {
    display: inline-table;
    margin-right: 10px;
}

.navi {
    background-color: green;
    border-radius: 15px;
    text-align: right;
    height: 50px;
    margin-top: 15px;
}

.opt {
    color: yellow;
}

.opt:hover {
    color: rgb(249, 164, 8);
}